div.container{
    position: relative;
    top: 20%;
    left: min(8em, 100px);
    z-index: 3;
    &::before{
        position: absolute;
        content: "";
        top: 240px;
        left: 15px;
        height: 140px;
        width: 4px;
        background-color: rgba(#fff, .10);
    }
    h2{
        color: #fff;
        font-size: 50px;
        font-weight: 700;
        max-width: 100px;
    }
    p{
        color: rgba(255, 255, 255, .6);
        margin-top: 20px;
        margin-left: 30px;
        line-height: 30px;
        padding-bottom: 26px;
    }
    a{
        margin-left: 30px;
        padding: 17px 30px 17px;
        font-weight: 700;
        background-color: rgb(38, 27, 27);
        color: #fff;
        border-radius: 10px;
    }
}