.reports{
    padding: 120px 0;
    .container{
        .row{
            h3{
                font-size: 45px;
                font-weight: 700;
                margin-bottom: 30px;
            }
        }
    }
}