.nav-one{
    padding: 10px 0;
    background-color: #fff;
    .container{
        .nav-one__inner{
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{
                font-size: 13px;
                letter-spacing: -.2px;
                color: #696e77;
                margin-bottom: 0;
                i, span{
                    color: rgb(38, 27, 27);
                }
            }
            .lang{
                margin-right: 30px;
                select{
                    min-width: 120px;
                }
            }
        }
    }
    .list-unstyled{
        display: flex;
        align-items: center;
        a{
            min-width: 30px;
            margin-right: 15px;
            padding: 6px;
            background: linear-gradient(rgb(22, 36, 61), rgb(18, 30, 52)) rgb(10, 23, 45);
            box-shadow: 0 1px rgb(255 255 255 / 20%) inset, 0 3px 5px rgb(0 1 6 / 50%), 0 0 1px 1px rgb(0 1 6 / 20%);
            text-align: center;
            color: #fff;
        }
    }
}
.container{
    padding: 0 15px;
}
@media screen and (min-width: 1200px) {
    .container{
        max-width: 1200px;
    }
}
.nav-two {
    .main-header-two__top-details{
        padding: 29px 0 64px;
        background-color: rgb(207, 172, 108);
        box-shadow: 0px 10px 60px 0px rgb(0 0 0 / 5%);
        .main-header-two__top-details-inner{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .main-header-two__top-details-list{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                li{
                    display: flex;
                    align-items: center;
                    margin-right: 20px;
                    i{
                        background: linear-gradient(90deg, rgba(86, 68, 36, 0.84) 35%, rgba(38, 27, 27, 0.8099614845938375) 71%);;
                        font-size: 30px;
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                    .text{
                        margin-left: 20px;
                        h5{
                            font-size: 16px;
                            font-weight: 700;
                            color: #fff;
                            line-height: 24px;
                        }
                        p{
                            color: rgb(38 27 27);
                            a{
                                color: rgb(38 27 27);
                            }
                        }
                    }
                }
            }
        }
    }
}


.main-menu-two{
    position: relative;
    z-index: 22;
    width: 100vw;
}
.main-menu-two__wrapper{
    position: absolute;
    top: -35px;
    left: -20px;
    width: 100vw;
    .container{
        display: flex;
        justify-content: center;
    }
    a{
        color: #696e77;
        font-weight: bold;
        text-transform: uppercase;
        &:hover{
            color: rgb(38 27 27);
        }
    }
    .main-menu-two__wrapper-inner {
        display: block;
        background-color: #fff;
        padding-left: 40px;
        border-radius: 10px;
        box-shadow: 0px 10px 60px 0px rgb(0 0 0 / 5%);
        .main-menu-two__left {
            display: block;
            float: left;
            position: relative;
            height: 74px;
            .mobile-nav__toggler {
                font-size: 20px;
                cursor: pointer;
                -webkit-transition: 500ms;
                transition: 500ms;
                display: none;
            }
            ul{
                display: flex;
                align-items: center;
                justify-content: space-between;
                li{
                    padding: 22px 0;
                    &:not(:first-child){
                        margin-left: 40px;
                    }
                    &.dropdown:hover ul{
                        opacity: 1;
                        visibility: visible;
                        -webkit-transform: scaleY(1) translateZ(0px);
                        transform: scaleY(1) translateZ(0px);   
                    }
                    ul{
                        position: absolute;
                        top: 100%;
                        left: 0;
                        min-width: 250px;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        opacity: 0;
                        visibility: hidden;
                        transform-origin: top center;
                        transform: scaleY(0) translateZ(100px);
                        transition: opacity 500ms ease, visibility 500ms ease, transform 700ms ease;
                        z-index: 99;
                        background-color: #fff;
                        overflow: hidden;
                        box-shadow: 0px 10px 60px 0px rgb(0 0 0 / 7%);
                        border-radius: 0;
                        padding: 31px 20px;
                        li{
                            width: 100%;
                            padding: 10px 0;
                            margin-right: 20px;
                            &:first-child{
                                margin-left: 40px;
                            }
                            a{
                                position: relative;
                                display: flex;
                                border-radius: 10px;
                                padding: 4px 20px 3px;
                                text-transform: none;
                            }
                            &:hover a{
                                background-color: #f2f5f9;
                            }
                            &:hover a::before{
                                transform: translateY(-50%) scale(1);
                            }
                            a::before{
                                position: absolute;
                                top: 50%;
                                right: 20px;
                                font-family: "Font Awesome 5 Free";
                                font-weight: 900;
                                content: "\f101";
                                font-size: 14px;
                                color: rgb(38 27 27);
                                transform: translateY(-50%) scale(0);
                                -webkit-transition: 500ms;
                                transition: 500ms;
                            }
                        }
                    }
                }
            }
        }
    }
    .main-menu-two__right {
        position: relative;
        display: block;
        float: right;
        width: 200px;
        .main-menu-two__search-box-get-quote {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .main-menu-two__search-box{
                padding: 25px 0 25px 20px;
                position: relative;
                margin-left: 20px;
                &::before{
                    content: '';
                    position: absolute;
                    top: 20%;
                    left: -10px;
                    width: 2px;
                    height: 60%;
                    background-color: rgba(0, 0, 0, .1);
                }
                a{
                    i{
                        font-size: 20px;
                        font-weight: 600;
                    }
                }
            }
            .main-menu-two__get-quote-btn {
                padding-top: 25px !important;
                padding-bottom: 25px !important;
                border-top-left-radius: 0 !important;
                border-bottom-left-radius: 0 !important;
            }
            .thm-btn {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                -webkit-appearance: none;
                outline: none !important;
                background-color: rgb(38, 27, 27);
                color: #fff;
                font-size: 16px;
                font-weight: 700;
                letter-spacing: -.02em;
                border-radius: 10px;
                padding: 17px 30px 17px;
                transition: all 0.5s linear;
                overflow: hidden;
                z-index: 1;
                &::before{
                    position: absolute;
                    content: '';
                    background-color: var(--insur-black);
                    width: 120%;
                    height: 0;
                    padding-bottom: 120%;
                    top: -110%;
                    left: -10%;
                    border-radius: 50%;
                    transform: translate3d(0, 68%, 0) scale3d(0, 0, 0);
                    z-index: -1;
                }
                &::after{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    content: '';
                    background-color: var(--insur-black);
                    transform: translate3d(0, -100%, 0);
                    transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
                    z-index: -1;
                }
            }
        }
    }
}